.title-featured{
    font-size: 5em;
    width: 100%;
    text-align: start;
    padding: 0;
    text-transform: uppercase;
    font-family: "font2";
}

.featured-container{
    box-shadow: none;
    width: 90%;
    margin: 3% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2em;
}

.cardParent.card-container-featured {
    flex-direction: row-reverse;
    align-items: start;
    width: 36rem;
}

@media (max-width: 850px) {
    .title-featured{
        font-size: 3em;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .title-featured{
        font-size: 2em;
    } 
}