.cards-container-c{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 1%;
  border-radius: 1em;
  padding: 1%;
  padding-bottom: 0;
  flex-direction: row;
  align-items: center;
}
.cardHeaderImg{
  width: 100%;
  aspect-ratio: 1;
  border-radius: 1em;
}

.card-header-c{
  padding: 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card-body-c{
  padding: 2% 4%;
  display: inline-block;
  align-content: center;
}

.card-body-heading-c{
  font-size: 1.5em;
  font-weight: bold;
  margin: 2% 5%;;
  text-transform: uppercase;
}

.card-body-body-c{
  font-size: 1em;
  margin: 5%;
}

.card-body-body-c::-webkit-scrollbar {
  width: 4px; /* for vertical scroll */
  height: 4px; /* for horizontal scroll */
}

.card-body-body-c::-webkit-scrollbar-thumb {
  background: #005A62;
  border: 1px solid var(--white);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.card-footer-c{
  margin: 0 5%;
  border-top: 1px solid;
  padding: 2% 1%;
  display: inline-flex;
  width: 90%;
  justify-content: flex-start;
  gap: 1rem;
}