.cardParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 18rem;
}

.cardHeader {
  width: 18rem;
  aspect-ratio: 1.5;
  border-radius: 0.8em;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.cardHeader.active-full-width {
  width: 100% !important;
  z-index: 100;
}

.cardImage {
  border-radius: 0.4em;
}

.cardBodyHeader {
  padding: 5%;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.cardBodyDesc {
  font-size: 1em;
  padding: 1% 10%;
  width: 100%;
  text-align: start;
  transition: all 0.4s ease-in-out;
}

.cardHeader.active-full-width + .cardBodyDesc {
  width: 0% !important;
  padding: 0 !important;
  opacity: 0;
}

.imgHoverEffect1,
.imgHoverEffect2 {
  position: absolute;
  z-index: -10;
  transition: all 0.5s ease;
  border-radius: 1em;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
  opacity: 0;
}

.cardHeader:hover .imgHoverEffect1,
.cardHeader:hover .imgHoverEffect2 {
  opacity: 1;
}
