.container-custom {
  width: 20%;
  height: 96%;
  background-color: #457b9d;
  border-radius: 2.5em;
  overflow: hidden;
}
.profileIcon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #1d3557;
  position: relative;
  z-index: 10;
}
.profileIconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.profileIconContainer::after {
  content: "";
  width: 70px;
  height: 70px;
  background-color: transparent;
  position: absolute;
  top: 80px;
  right: 0;
  border-radius: 50%;
  box-shadow: 35px -35px 0px #1d3557;
  z-index: 1;
}
.profileIconContainer::before {
  content: "";
  width: 70px;
  height: 70px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 80px;
  border-radius: 50%;
  box-shadow: 35px -35px 0px #1d3557;
  z-index: 1;
}
.profileName {
  color: #f1faee;
  font-size: 2em;
  margin-left: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.CustomList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
  color: #f1faee;
  list-style: none;
}
.CustomListItem {
  text-transform: capitalize;
  font-size: 1.2em;
  width: 70%;
  padding: 0.5em 1em;
  cursor: pointer;
  background: #f1faee;
  color: #1d3557;
  border-radius: 1em 2em;
  transition: transform 0.5s ease;
  font-variant: small-caps;
  font-weight: 600;
}

.CustomListItem:hover,
.CustomListItem.active {
  background: #a8dadc;
  color: #1d3557;
  letter-spacing: 5px;
  transform: translateX(50px);
}

.TablesList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
  color: #1d3557;
  list-style: none;
  background: #f1faee;
  width: 90%;
  margin-left: 5%;
  border-radius: 2em;
  backdrop-filter: blur(1px);
  height: 50vh;
  overflow: auto;
}
.TablesList::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.TablesList::-webkit-scrollbar-thumb {
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 2px;
}
.TablesListItem {
  text-transform: capitalize;
  font-size: 1.2em;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
  margin-bottom: 4px;
}

.TablesListItem.heading {
  font-size: 1.5em;
  letter-spacing: 10px;
  color: #1d3557;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: 400;
}

.TablesListItemSpan {
  width: 80%;
  transition: transform 0.5s ease;
  margin: 0;
  letter-spacing: 2px;
  padding: 4px 16px;
}

.TablesListItem:hover .TablesListItemSpan,
.TablesListItem.active .TablesListItemSpan {
  background: #a8dadc;
  color: #1d3557;
  border-radius: 2em 1em;
  text-align: right;
  transform: translateX(20px);
  letter-spacing: 5px;
  font-variant: small-caps;
}

@media (max-width: 1024px) {
  .container-custom {
    width: 20%;
    border-radius: 2em 1em;
  }
  .TablesListItem:hover .TablesListItemSpan,
  .TablesListItem.active .TablesListItemSpan {
    transform: translateX(10px);
    letter-spacing: 2px;
    border-radius: 1em;
  }
  .CustomListItem {
    font-size: 1.2em;
    padding: 4px 12px;
    border-radius: 1em;
  }
  .CustomListItem:hover,
  .CustomListItem.active {
    letter-spacing: 2px;
    transform: translateX(20px);
    border-radius: 1em;
  }
  .profileName {
    font-size: 1.5em;
    margin-left: 1em;
    letter-spacing: 2px;
  }

  .profileIcon {
    width: 50px;
    height: 50px;
  }
  .profileIconContainer::after {
    width: 50px;
    height: 50px;
    top: 60px;
    box-shadow: 25px -25px 0px #1d3557;
  }
  .profileIconContainer::before {
    width: 50px;
    height: 50px;
    right: 60px;
    box-shadow: 25px -25px 0px #1d3557;
  }
}

@media (max-width: 850px) {
  .container-custom{
    position: absolute;
    z-index: 100;
    width: 70px;
    right: 5%;
    bottom: 2%;
    left: unset;
    top: unset;
    height: auto;
    padding-bottom: 1em;
    border-radius: 3em 2em;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 5px #1d355788;
    border: 8px solid #f1faee;
  }
  .container-custom.active{
    width: 40%;
    border: 1em solid #f1faee;
    box-shadow: 0px 0px 100px 2px #1d3557c5;
  }
  .profileIconContainer{
    cursor: pointer;
  }
  .profileIcon {
    box-shadow: 0px 0px 0px 10px #f1faee;
  }
  .profileIconContainer::after {
    box-shadow: 25px -25px 0px #f1faee;
  }
  .profileIconContainer::before {
    box-shadow: 25px -25px 0px #f1faee;
  }
  .CustomList{
    display: none;
  }
  .TablesList{
    display: none;
  }
  .CustomList.active{
    display: flex;
  }
  .TablesList.active{
    display: flex;
  }
  .profileName{
    display: none;
  }
  .profileName.active{
    display: block;
  }

}

@media (max-width: 500px) {
  .container-custom.active{
    width: 70%;
  }
}