.navbar-c {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
  margin-bottom: 1%;
  background-color: rgba(245, 245, 245, 0.8);
  color: rgb(0, 0, 0);
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  font-size: 1.2em;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

ul.navbar-links-c {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 1%;
  margin: 0;
  color: rgb(0, 0, 0);
  align-items: center;
}

.navbar-c li {
  padding: 0 5%;
}

.navbar-c li.title a {
  color: #1D3557;
  font-family: "font2";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
  text-shadow: 0px 0px 1px white;
}

.navbar-c li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar-c li a:hover {
  color: #0081A7;
}

@media (max-width: 500px) {
  .navbar-c {
    padding: 2%;
    width: 100%;
    font-size: 1.1em;
  }

  .navbar-c li {
    padding: 0 2%;
  }

  ul.navbar-links-c {
    width: 90%;
  }
}
