@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #f1faee;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px; /* for vertical scroll */
  height: 7px; /* for horizontal scroll */
}

::-webkit-scrollbar-thumb {
  background: #005a62;
  border: 1px solid var(--white);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
