@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "font1";
  src: url("/fonts/font1.ttf");
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
@font-face {
  font-family: "font2";
  src: url("/fonts/font2.otf");
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
@font-face {
  font-family: "font3";
  src: url("/fonts/font3.ttf");
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
@font-face {
  font-family: "teacher";
  src: url("/fonts/Teacher-Vintage.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "canada";
  src: url("/fonts/canada.otf");
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
@font-face {
  font-family: "LTR";
  src: url("/fonts/LTRenovate-Reg.otf");
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #f1faee;
  font-family: "LTR", sans-serif;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px; /* for vertical scroll */
  height: 7px; /* for horizontal scroll */
}

::-webkit-scrollbar-thumb {
  background: #005a62;
  border: 1px solid var(--white);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
