.hero-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0;
  border-radius: 1em;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 0;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #f1faee;
  position: relative;
}

.hero-container .title {
  color: #1D3557;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px white;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  rotate: 180deg;
  font-size: calc(2em + 1vw + 3vh);
  letter-spacing: 20px;
  border: none;
  padding:0;
  padding-bottom: 10vh;
  font-weight: 600;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1% 1% 1% 1%;
  flex-direction: column;
  min-width: 35%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 12%;
  font-size: 5em;
  color: #f1faee;
  text-shadow: 1px 1px 0 black;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
  z-index: 10;
}

.text-container::before {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  border-radius: 2% / 50%;
  height: 30%;
  background: #1d3557;
  z-index: -1;
}

.text-container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2% 4%;
  flex-direction: column;
  width: 40%;
  height: auto;
  position: absolute;
  top: 80%;
  left: 2%;
  z-index: 10;
  color: #f1faee;
  text-transform: uppercase;
  background: #457b9d;
  border-radius: 2rem;
  filter: drop-shadow(1rem -1rem 0px #f1faee);
}

.heading-hero {
  width: 100%;
  text-align: center;
  font-size: calc(2em + 8vh);
  text-transform: uppercase;
}

.sub-heading-hero {
  width: 100%;
  text-align: start;
  font-size: 1.2em;
  text-transform: none;
}

.image-container {
  width: 90%;
  height: 97vh;
  display: flex;
  transition: all 1s ease-in-out;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(-10px 10px 0 #f1faee);
}

.image-container::after {
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 37.5%;
  border-radius: 50%;
  width: 5%;
  box-shadow: -2rem 2rem 0 #f1faee;
  aspect-ratio: 1;
  background: transparent;
  z-index: 100;
}

.image-container::before {
  content: " ";
  position: absolute;
  bottom: 21.2%;
  left: 0%;
  border-radius: 50%;
  width: 5%;
  box-shadow: -2rem 2rem 0 #edfcee;
  aspect-ratio: 1;
  background: transparent;
  z-index: 100;
}

.place-list-view-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 17rem;
  height: calc(14rem / 1.5);
  margin: 1em;
  z-index: 100;
}

.card-place-container-hero {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  width: 16rem !important;
  position: absolute !important;
  transition: all .5s ease-in-out;
  padding: 2% !important;
}

.card-place-image-hero {
  width: 80% !important;
  padding: 0% !important;
  max-width: unset !important;
}

.card-place-heading-hero {
  font-size: 1.1em !important;
  writing-mode: vertical-rl !important;
  text-orientation: sideways !important;
  letter-spacing: 10px !important;
  width: 20% !important;
}

.text-container .city {
  width: 100%;
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.subscribe-container-hero-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.subscribe-input-hero {
  width: 65%;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background-color: #f1faee;
  color: #1d3557;
}

@media (max-width: 1560px) and (min-height: 900px) {
  .image-container::before {
    bottom: 16%;
  }
}

@media (max-width: 1510px) {
  .image-container::before {
    bottom: 18.4%;
  }
}

@media (max-width: 1280px) {
  .image-container::after {
    left: 37.5%;
  }
  .image-container::before {
    bottom: 18.9%;
  }
}

@media (min-height: 700px) {
  .text-container-main {
    top: 82%;
  }
}

@media (min-height: 900px) {
  .text-container-main {
    top: 84%;
  }
}

@media (max-width: 1024px) {
  .image-container::after {
    left: 48.5%;
    box-shadow: -1rem 1rem 0 #f1faee;
  }
  .image-container::before {
    bottom: 18.5%;
    box-shadow: -1rem 1rem 0 #f1faee;
  }
  .text-container {
    min-width: 45%;
  }
  .text-container-main {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .hero-container {
    min-height: 60vh;
    height: unset;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0;
  }

  .hero-container .title{
    position: absolute;
    z-index: 10;
    left: 1%;
    top: 30%;
    letter-spacing: 5px;
    color: #f1faee;
    font-weight: 400;
    padding-bottom: 0;
    font-size: calc(1rem + 1vw + 2vh);
  }

  .image-container {
    width: 100%;
    height: 50vh;
    transition: all 1s ease-in-out;
    flex-direction: column;
    margin: 0;
    border-radius: 0;
  }

  .image-container::after {
    display: none;
  }

  .image-container::before {
    display: none;
  }

  .text-container {
    font-size: 5em;
    min-width: 80%;
    backdrop-filter: none;
    align-items: flex-start;
  }

  .text-container::before {
    width: 70%;
  }

  .text-container-main {
    padding: 5%;
    width: 100%;
    border-radius: 0;
    position: unset;
    top: unset;
    left: unset;
    filter: unset;
  }

  .heading-hero {
    text-align: start;
    font-size: calc(1rem + 1vw + 2vh);
  }

  .sub-heading-hero {
    font-size: 1em;
  }

  .place-list-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 90%;
    gap: 1em;
    overflow: hidden;
    height: auto;
  }

  .card-place-container-hero {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 13rem !important;
    position: unset !important;
    padding: 1% !important;
  }

  .card-place-image-hero {
    width: 100% !important;
  }

  .text-container .city {
    flex-direction: column;
    gap: 0.1em;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {

  .hero-container .title{
    position: absolute;
    z-index: 10;
    left: 1%;
    top: 20%;
    letter-spacing: 5px;
    color: #f1faee;
    font-weight: 400;
  }

  .text-container {
    font-size: 3em;
    backdrop-filter: blur(1px);
  }

  .subscribe-container-hero-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
  }

  .subscribe-input-hero {
    width: 100%;
    padding: 0.3em 0.8em;
  }
}
