.LayoutBackground {
  background-color: #1d3557;
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 850px) {
  .LayoutBackground {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
