.navbar-c {
  list-style: none;
  display: flex;
  padding: 2% 1% 1% 1%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  width: 100%;
  font-size: 1.2em;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  height: 5rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-c.navbar-c-show{
  height: 20rem;
}

ul.navbar-links-c {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 1%;
  margin: 0;
  color: rgb(0, 0, 0);
  align-items: center;
}

.navbar-c li {
  padding: 0 0 0 1.5em;
}

.navbar-c div.more-dropdown{
  position: absolute;
  bottom: 2rem;
  right: 1.2%;
  background-color: #f1faee;
  border-radius: 2rem;
  width: 12%;
  transition: all 0.2s ease-in-out;
  z-index: 100;
  transform: translateX(300%);
  border: 1px solid #1d3557;
}

.navbar-c div.more-dropdown.show{
  transform: translateX(0%);
}

.navbar-c div.more-dropdown::after{
  content: " ";
  position: absolute;
  top: -14%;
  right: -20%;
  border-radius: 50%;
  width: 25%;
  aspect-ratio: 1;
  background: #f1faee;
  z-index: -1;
}

.navbar-c div.more-dropdown::before{
  content: " ";
  position: absolute;
  bottom: -14%;
  right: -20%;
  border-radius: 50%;
  width: 25%;
  aspect-ratio: 1;
  background: #f1faee;
  z-index: -1;
}

.navbar-c div.more-dropdown-custom{
  position: absolute;
  bottom: 2rem;
  right: 1.2%;
  background-color: #1d3557;
  border-radius: 2rem;
  width: 12%;
  transition: all 0.2s ease-in-out;
  z-index: 100;
  transform: translateX(300%);
  border: 1px solid #f1faee;
}

.navbar-c div.more-dropdown-custom.show{
  transform: translateX(0%);
}

.navbar-c div.more-dropdown-custom::after{
  content: " ";
  position: absolute;
  top: -14%;
  right: -20%;
  border-radius: 50%;
  width: 25%;
  aspect-ratio: 1;
  background: #1d3557;
  z-index: -1;
}

.navbar-c div.more-dropdown-custom::before{
  content: " ";
  position: absolute;
  bottom: -14%;
  right: -20%;
  border-radius: 50%;
  width: 25%;
  aspect-ratio: 1;
  background: #1d3557;
  z-index: -1;
}

.navbar-c div.more-dropdown ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
  margin: 0;
}

.navbar-c div.more-dropdown ul li {
  padding: 5%;
  text-align: center;
}

.navbar-c div.more-dropdown-custom ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
  margin: 0;
}

.navbar-c div.more-dropdown-custom ul li {
  padding: 5%;
  text-align: center;
}

@media (max-width: 1280px) {
  .navbar-c div.more-dropdown{
    width: 15%;
  }
  .navbar-c div.more-dropdown-custom{
    width: 15%;
  }
}

@media (max-width: 1024px){
  .navbar-c div.more-dropdown::before, .navbar-c div.more-dropdown::after {
    right: -20%;
  }
  .navbar-c div.more-dropdown{
    width: 20%;
  }

  .navbar-c div.more-dropdown-custom::before, .navbar-c div.more-dropdown-custom::after {
    right: -20%;
  }
  .navbar-c div.more-dropdown-custom{
    width: 20%;
  }

}

@media (max-width: 850px) {

  .navbar-c div.more-dropdown::before, .navbar-c div.more-dropdown::after {
    right: -20%;
    box-shadow: unset;
    width: 20%;
  }
  .navbar-c div.more-dropdown::before {
    bottom: -10%;
  }
  .navbar-c div.more-dropdown::after {
    top: -10%;
  }
  .navbar-c div.more-dropdown{
    width: 22%;
    right: 2%;
  }

  .navbar-c div.more-dropdown-custom::before, .navbar-c div.more-dropdown-custom::after {
    right: -20%;
    box-shadow: unset;
    width: 20%;
  }
  .navbar-c div.more-dropdown-custom::before {
    bottom: -10%;
  }
  .navbar-c div.more-dropdown-custom::after {
    top: -10%;
  }
  .navbar-c div.more-dropdown-custom{
    width: 22%;
    right: 2%;
  }

}

@media (max-width: 500px) {
  .navbar-c {
    padding: 2%;
    font-size: 1.1em;
    height: 4rem;
  }

  .navbar-c li {
    padding: 0 2%;
  }

  ul.navbar-links-c {
    width: 100%;
    justify-content: flex-end;
  }

  .navbar-c div.more-dropdown::before, .navbar-c div.more-dropdown::after {
    right: -16%;
    box-shadow: unset;
    width: 20%;
  }
  .navbar-c div.more-dropdown::before {
    bottom: -11%;
  }
  .navbar-c div.more-dropdown::after {
    top: -11%;
  }
  .navbar-c div.more-dropdown{
    width: 48%;
  }

  .navbar-c div.more-dropdown-custom::before, .navbar-c div.more-dropdown-custom::after {
    right: -16%;
    box-shadow: unset;
    width: 20%;
  }
  .navbar-c div.more-dropdown-custom::before {
    bottom: -11%;
  }
  .navbar-c div.more-dropdown-custom::after {
    top: -11%;
  }
  .navbar-c div.more-dropdown-custom{
    width: 48%;
  }

  .responsive-btn{
    padding: 0.1rem 0.8rem;
  }  

}
